.header{
  font-family: 'Permanent Marker', cursive;
  color: $color-grey-light;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .9), rgba($color-primary-dark, .9)), url(img/hero-img.jpeg);
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);


  svg{
    width: 100%;
    font-size: 8rem;
    letter-spacing: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-66%, -50%);


    text{
      stroke: $color-white;
      stroke-width: 2;
      fill: none;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      animation: animateDrawing 3s linear forwards;
    }
  }

  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: heading 1s ease-in forwards 2s;
  }
}

@keyframes animateDrawing{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes heading{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
