.navigation{
  font-family: 'Permanent Marker', cursive;
  margin-top: 0;
  padding-top: 2rem;
  position: relative;

  &__list{
    color: $color-grey-light;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    width: 100vw;
    font-size: 2.2rem;

    @media only screen and(max-width: $bp-medium){
      display: none;
    }
  }

  &__item{

    a,
    a:link,
    a:visited{
      text-decoration: none;
      color: $color-grey-light;
      position: relative;
    }

    a::after,
    a::before{
      display: inline-block;
      opacity: 0;
      transition: transform .3s, opacity .2s;
    }

    a::before{
      content: '{';
      margin-right: 1rem;
      transform: translateX(2rem);
    }

    a::after{
      content: '}';
      margin-left: 1rem;
      transform: translateX(-2rem);
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after{
      opacity: 1;
      transform: translateX(0);
    }
  }

  //MOBILE NAVIGATION

  &__icon-menu,
  &__icon-cross{
    display: none;
    position: absolute;
    top: 3rem;
    right: 3rem;

    svg{
      width: 4rem;
      height: 4rem;
      fill: $color-grey-light;
    }
  }

  &__icon-menu{
    @media only screen and(max-width: $bp-medium){
      display: block;
    }
  }

  //MOBILE NAV CLASS, ADDED AND REMOVED IN JS

  .mobile-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}
