*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  color: #F6F6F6;
  background-color: #111;
}

/*REUSABLE STYLING*/

h2{
  text-align: center;
  padding: 1em;
}

/*NAVIGATION*/

header nav{
  height: 40px;
}

#nav-list{
  display: none;
}

nav a #mobile-nav-icon{
  float: right;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: #F6F6F6;
}



/*HOME SECTION*/

#home{
  clear: right;
  background-image: url("img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#title{
  text-align: center;
  display: flex;
  flex-direction: column;
}

#title p{
  padding-bottom: 150px;
  font-size: 1.2em;
  margin-top: 5%;
}

#title h1{
  font-size: 4em;
}


/*ABOUT SECTION*/

#about{
  background-color: #F3F7F8;
  color: #202020;
}

#about p{
  text-align: center;
  margin: 0 5%;
}

h3{
  text-align: center;
  margin-bottom: 2%;
  margin-top: 10%;
}

.skills-container{
  display: grid;
  grid-template-rows: 80% 80% 80%;
  justify-content: center;
}

.skill{
  text-align: center;
  margin-top: 2%;
}

.skill ul{
  list-style: none;
}

.skill i{
  margin-top: 15%;
  font-size: 40px;
}

.skill ul li:first-child{
  margin-top: 3%;
}


.skill h4,
.skill i{
color: #2C3E50;
}

.last-skill ul li:last-child{
  margin-bottom: 50px;
}


/*PROJECTS*/

.project img{
  margin-top: 20%;
}

.project p,
.project ul{
  margin-top: 5%;
}

.project h4,
.project p,
.project ul{
  text-align: center;
}

.project ul{
  list-style: none;
}

img{
  width: 100%;
  padding: 10%;
}

.project a{
text-decoration: none;
}

.project a:hover,
.project a:link,
.project a:active,
.project a:visited{
  color: #202020;
}

.project #last-item{
  margin-bottom: 5%;
}

/*CONTACT*/

#contact{
  background-color: #FFF;
}

#contact p{
  text-align: center;
  padding-bottom: 5%;
}


/*FOOTER*/

footer ul{
  float: right;
  font-size: .7em;
  list-style: none;
}

footer ul li{
  margin: 2% 10px;
}

footer #top{
  margin-top: 5%;
}

footer #bottom{
  margin-bottom: 5%;
}
