* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  padding: 3rem;
  overflow-x: hidden; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 8rem; }

h3 {
  background-image: linear-gradient(to right, rgba(255, 39, 39, 0.9), rgba(214, 0, 0, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase; }

.heading-secondary {
  background-image: linear-gradient(to right, rgba(255, 39, 39, 0.9), rgba(214, 0, 0, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px; }

.about-box {
  display: flex;
  justify-content: center;
  flex-basis: 75%; }
  .about-box__text {
    padding: 5rem;
    width: 75%; }
  .about-box p {
    margin-bottom: 5rem; }

.black-btn {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #FFF;
  padding: 2rem;
  border-radius: 30rem;
  text-decoration: none;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.25); }
  .black-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.view-project-btn {
  background-color: #f7f7f7;
  color: #FF0000;
  padding: 2.5rem;
  text-decoration: none;
  border-radius: 30rem;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.25);
  transition: all .3s; }
  .view-project-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3); }
  .view-project-btn:active {
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.25);
    transform: scale(1); }

.card-container {
  display: flex;
  justify-content: space-around; }
  .card-container__card {
    flex-basis: 20%;
    background-color: #FF0000;
    padding: 1rem;
    padding-bottom: 2rem;
    color: #E7E7E7;
    border-radius: 5px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    transition: all .3s; }
    .card-container__card:hover {
      transform: scale(1.05) translateY(-1.5rem);
      box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.4); }
  .card-container h4 {
    color: #E7E7E7; }
  .card-container svg {
    width: 4rem;
    height: 4rem;
    fill: #E7E7E7;
    margin-bottom: 1rem; }
  .card-container ul {
    list-style: none; }
    .card-container ul li:not(:last-child) {
      margin-bottom: .5rem; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 6rem;
  padding-bottom: 8rem; }
  .form__input {
    width: 100%;
    padding: 1rem;
    border-bottom: none;
    background-color: #f7f7f7;
    color: #FF0000;
    border: 1px solid #ccc;
    outline: none;
    font-family: inherit;
    transition: all .2s; }
    .form__input:hover {
      background-color: #FF0000;
      color: #f7f7f7; }
    .form__input--submit {
      cursor: pointer; }

.projects-container {
  color: #f7f7f7;
  display: flex;
  flex-direction: column; }
  .projects-container .project {
    display: flex;
    flex-direction: column;
    padding-bottom: 15rem;
    position: relative; }
    .projects-container .project h3 {
      color: #f7f7f7;
      margin-top: 18rem; }
    .projects-container .project__info {
      display: flex; }
      .projects-container .project__info__img-tech-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
        margin-left: 3rem; }
        .projects-container .project__info__img-tech-box img {
          width: 40rem; }
        .projects-container .project__info__img-tech-box ul {
          list-style: none; }
      .projects-container .project__info__description-link-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-basis: 50%;
        margin-right: 3rem; }
        .projects-container .project__info__description-link-box svg {
          width: 4rem;
          height: 4rem;
          fill: #FFF;
          margin-left: .5rem; }
    .projects-container .project--grey {
      background-color: #f7f7f7;
      color: #FF0000; }
      .projects-container .project--grey h3 {
        background-image: linear-gradient(to right, rgba(255, 39, 39, 0.9), rgba(214, 0, 0, 0.9));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-transform: uppercase; }
      .projects-container .project--grey .view-project-btn {
        background-color: #FF0000;
        color: #f7f7f7; }
    .projects-container .project:not(:first-child)::before, .projects-container .project:not(:first-child)::after {
      position: absolute;
      content: "";
      left: 50%;
      width: 10rem;
      height: 10rem;
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      border: 1px solid transparent; }
    .projects-container .project:not(:first-child)::before {
      top: -5rem;
      background: #D60000; }
    .projects-container .project:not(:first-child)::after {
      bottom: -5rem;
      z-index: 10;
      background: inherit; }

.footer {
  display: flex;
  align-items: flex-end;
  background-color: #D60000;
  color: #f7f7f7;
  font-size: 1.4rem;
  min-height: 10rem; }
  .footer .footer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    align-items: flex-end; }
    .footer .footer-info a {
      text-decoration: none;
      color: #f7f7f7; }
    .footer .footer-info__nav ul {
      display: flex;
      list-style: none; }
      .footer .footer-info__nav ul li {
        padding: 0 1rem; }
    .footer .footer-info__paragraph {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer .footer-info__paragraph p {
        padding: 1.5rem 0; }

.header {
  font-family: 'Permanent Marker', cursive;
  color: #f7f7f7;
  background-image: linear-gradient(to right bottom, rgba(255, 39, 39, 0.9), rgba(214, 0, 0, 0.9)), url(img/hero-img.jpeg);
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header svg {
    width: 100%;
    font-size: 8rem;
    letter-spacing: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-66%, -50%); }
    .header svg text {
      stroke: #FFF;
      stroke-width: 2;
      fill: none;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      animation: animateDrawing 3s linear forwards; }
  .header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: heading 1s ease-in forwards 2s; }

@keyframes animateDrawing {
  100% {
    stroke-dashoffset: 0; } }

@keyframes heading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.navigation {
  font-family: 'Permanent Marker', cursive;
  margin-top: 0;
  padding-top: 2rem; }
  .navigation__list {
    color: #f7f7f7;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    width: 100vw;
    font-size: 2.2rem; }
  .navigation__item a,
  .navigation__item a:link,
  .navigation__item a:visited {
    text-decoration: none;
    color: #f7f7f7;
    position: relative; }
  .navigation__item a::after,
  .navigation__item a::before {
    display: inline-block;
    opacity: 0;
    transition: transform .3s, opacity .2s; }
  .navigation__item a::before {
    content: '[';
    margin-right: 1rem;
    transform: translateX(2rem); }
  .navigation__item a::after {
    content: ']';
    margin-left: 1rem;
    transform: translateX(-2rem); }
  .navigation__item a:hover::before,
  .navigation__item a:hover::after,
  .navigation__item a:focus::before,
  .navigation__item a:focus::after {
    opacity: 1;
    transform: translateX(0); }

.about-section {
  background-color: #f7f7f7;
  margin-top: -25vh;
  padding: 25rem 0;
  text-align: center; }

.projects-section {
  text-align: center;
  background-color: #D60000;
  overflow: hidden; }
  .projects-section h2 {
    margin-top: 8rem;
    color: #f7f7f7;
    letter-spacing: 2px;
    text-transform: uppercase; }

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  overflow: hidden; }
  .contact-section h2 {
    margin-top: 8rem;
    letter-spacing: 2px; }
  .contact-section p {
    margin-top: 4rem; }
