*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  color: #F6F6F6;
  background-color: #111;
}

/*REUSABLE STYLING*/

h2{
  text-align: center;
  padding: 1em;
}

/*NAVIGATION*/

header{
  color: #F6F6F6;
}

header nav{
  height: 40px;
}

#nav-list{
  display: none;
}

nav a #mobile-nav-icon{
  float: right;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: #F6F6F6;
}

#name{
  float: left;
  padding: 10px;
  font-size: 12px;
}

/*HOME SECTION*/

#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  clear: both;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#title{
  text-align: center;
}

#title p{
  padding-bottom: 150px;
  font-size: 1em;
  margin-top: 5%;
}

#title h1{
  font-size: 2em;
  color: #F81B1B;
}


/*SKILLS SECTION*/

#skills{
  background-color: #E6E6E6;
  color: #202020;
}

#skills h3{
  color: #F81B1B;
}

#skills p{
  text-align: center;
  margin: 0 5%;
}

h3{
  text-align: center;
  margin-bottom: 2%;
  margin-top: 10%;
}

.skills-container{
  display: grid;
  grid-template-rows: 80% 80% 80%;
  justify-content: center;
}

.skill{
  text-align: center;
  margin-top: 2%;
}

.skill ul{
  list-style: none;
}

.skill i{
  margin-top: 15%;
  font-size: 40px;
}

.skill ul li:first-child{
  margin-top: 3%;
}


.skill h4,
.skill i{
color: #F81B1B;
}

.last-skill ul li:last-child{
  margin-bottom: 50px;
}


/*PROJECTS*/

#projects{
  background-color: #DEDEDE;
  color: #202020;
}

.project p{
  margin: 0 5%;
}

.project h4{
  color: #F81B1B;
  margin-top: 20%;
  font-size: 1.2em;
}

.project p,
.project ul{
  margin-top: 5%;
}

.project h4,
.project p,
.project ul{
  text-align: center;
}

.project ul{
  list-style: none;
}

.project ul li{
  background-color: #F81B1B;
  color: #F6F6F6;
  border-radius: 5px;
  margin: 10px 30%;
}

img{
  width: 100%;
  padding: 10%;
}

.project a{
text-decoration: none;
}

.project a:hover,
.project a:link,
.project a:active,
.project a:visited{
  color: #202020;
}

.project #last-item{
  padding-bottom: 5%;
}

.hr-container{
  display: flex;
  justify-content: center;
}

.hr-container hr{
  height: 10px;
  width: 70%;
  margin: 15% 0;
  border: 0;
  box-shadow: 0 10px 10px -15px #111 inset;
}


/*CONTACT*/

#contact{
  background-color: #E6E6E6;
  color: #202020;
}

#contact p{
  text-align: center;
  padding-bottom: 5%;
}


/*FOOTER*/

footer ul{
  float: right;
  font-size: .7em;
  list-style: none;
}

footer ul li{
  margin: 2% 10px;
}

footer #top{
  margin-top: 5%;
}

footer #bottom{
  margin-bottom: 5%;
}
