
@media only screen and (max-width: 1200px){
  .pricing-column{
    display: flex;
    flex-direction: column;
  }

  .pricing-box{
    margin: 5% 10%;
  }
}



@media only screen and (max-width: 768px){

  body{
    font-size: .95em
  }

  .title p{
    margin-top: 5%;
  }

  section h2{
    margin-bottom: 3%;
  }

  #video{
    width: 80%;
  }

  #nav-bar{
    float: none;
    text-align: center;
  }

  #nav-bar #nav-list .nav-link{
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #nav-bar #nav-list .nav-link a,
  #nav-bar #nav-list .nav-link a i{
    color: #333;
  }

  .fa-bars{
    padding-bottom: 5px;
  }

  nav ul{
    display: none;
    background-color: transparent;
    transition: 1s;
    background-color: #DDD;
  }

  #nav-bar ul li{
    display: block;
  }

  .mobile-nav-icon{
    display: inline-block;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 20px;
  }

  .mobile-nav-icon:link,
  .mobile-nav-icon:hover,
  .mobile-nav-icon:visited,
  .mobile-nav-icon:active{
    color: #333;
  }
}


@media only screen and (max-width: 500px){

  body{
    font-size: .9em;
  }
}


@media only screen and (max-width: 376px){

  .title h1{
    font-size: 35px;
  }

  .copyright-icons,
  .dev-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}
