.about-box {
  display: flex;
  justify-content: center;
  flex-basis: 75%;

  &__text{
    padding: 5rem;
    width: 75%;

    @media only screen and(max-width: $bp-small){
      width: 90%;
    }
  }

  p{
    margin-bottom: 5rem;
  }
}
