.about-box {
  display: flex;
  justify-content: center;
  transform: skewX(-12deg);
  //border: 1px solid black;
  flex-basis: 75%;

  &__text{
    padding: 5rem;
    width: 75%;
    transform: skewX(12deg);
  }

  p{
    margin-bottom: 5rem;
  }
}
