.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 6rem;
  padding-bottom: 8rem;

  @media only screen and(max-width: $bp-small){
    width: 90%;
  }

  &__input{
    width: 100%;
    padding: 1rem;
    border-bottom: none;
    background-color: $color-grey-light;
    color: $color-primary;
    border: 1px solid #ccc;
    outline: none;
    font-family: inherit;
    transition: all .2s;

    &:hover{
      background-color: $color-primary;
      color: $color-grey-light;
    }

    &--submit{
      cursor: pointer;
    }
  }
}
